
<section class="benefits">
  <div class="container">
  <h2 class="benefits-title">Our advantages</h2>
  <div class="advantages"> 
    <ul class="benefits-list">
        <li class="benefits-item"><svg class="icon-star" width="24" height="24">
        <use href="../img/icons.svg#icon-star_small"></use>
    </svg>
author's tours</li>
<li class="benefits-item"><svg class="icon-star" width="24" height="24">
<use href="./img/icons.svg#icon-star_small"></use>
</svg>
іndividual approach</li>
<li class="benefits-item"><svg class="icon-star" width="24" height="24">
<use href="./img/icons.svg#icon-star_small"></use>
</svg>
affordable prices</li>
<li class="benefits-item"><svg class="icon-star" width="24" height="24">
<use href="./img/icons.svg#icon-star_small"></use>
</svg>
comfortable transfer</li>
<li class="benefits-item"><svg class="icon-star" width="24" height="24">
<use href="./img/icons.svg#icon-star_small"></use>
</svg>
professional guides</li>
<li class="benefits-item"><svg class="icon-star" width="24" height="24">
<use href="./img/icons.svg#icon-star_small"></use>
</svg>
accommodation in hotels from 3+ *</li>
    </ul>
  </div>
  </div>
</section>