<header class="header">
  <div class="container header-modal-container">
    <div class="help-header-modal-div">
      <div class="header-modal">
        <a href="./index.html" class="header-logo"
          ><svg class="icon icon-logo">
            <use href="./img/icons.svg#icon-Logo"></use>
          </svg>
        </a>
        <a class="header-burger header-burger-open"
          ><svg class="icon icon-burger">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </a>
        <a class="header-burger header-burger-close is-close"
          ><svg class="icon icon-burger">
            <use href="./img/icons.svg#icon-burger"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="header-links">
      <nav class="header-modal-nav">
        <ul class="header-modal-list">
          <li class="header-modal-list-item"><a href="#about">About us</a></li>
          <li class="header-modal-list-item"><a href="#tours">Тours</a></li>
          <li class="header-modal-list-item"><a href="#reviews">Reviews</a></li>
          <li class="header-modal-list-item"><a href="#gallery">Gallery</a></li>
          <li class="header-modal-list-item">
            <a href="#preFooter">Contacts</a>
          </li>
        </ul>
      </nav>
      <ul class="social-modal-list">
        <li class="social-modal-list-item">
          <a href="./index.html" class="social-list-item"
            ><svg class="icon social-icon" width="40" height="40">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-modal-list-item">
          <a href="./index.html" class="social-list-item"
            ><svg class="icon social-icon" width="40" height="40">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-modal-list-item">
          <a href="./index.html" class="social-list-item"
            ><svg class="icon social-icon" width="40" height="40">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- desktop werthion -->
<div class="container header-container">
  <div class="top-links">
    <a href="./index.html" class="header-logo"
      ><svg class="icon icon-logo">
        <use href="./img/icons.svg#icon-Logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item"><a class="header-link" href="">About us</a></li>
        <li class="header-list-item"><a class="header-link" href="#tours">Тours</a></li>
        <li class="header-list-item"><a class="header-link" href="#reviews">Reviews</a></li>
        <li class="header-list-item"><a class="header-link" href="#gallery">Gallery</a></li>
        <li class="header-list-item"><a class="header-link" href="#preFooter">Contacts</a></li>
      </ul>
    </nav>
  </div>
  <div class="soc-link-div">
    <ul class="social-list">
      <li class="social-list-item">
        <a href="./index.html" class="social-list-item"
          ><svg class="icon social-icon" width="40" height="40">
            <use href="./img/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="./index.html" class="social-list-item"
          ><svg class="icon social-icon" width="40" height="40">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="./index.html" class="social-list-item"
          ><svg class="icon social-icon" width="40" height="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
</header>
