<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="./img/Ellipse-28.png"
          alt="Maria-img"
        />
        <h3 class="reviews-subject">Maria</h3>
        <p class="reviews-text">
          It was really cool! We saw everything - sun, snow, rain, fog! It's
          very exciting and interesting, you won't regret it - it's worth going
          and seeing everything with your own eyes. Everything is organized at
          the highest level.
        </p>
        <button class="btn" type="button">
        <svg class="reviews-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-round"></use>
        </svg>
      </button>
      </li>
      <li class="reviews-item">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="./img/Ellipse-31.png"
          alt="Ostap-img"
        />
        <h3 class="reviews-subject">Ostap</h3>
        <p class="reviews-text">
          Good organization, everything went smoothly. Friendly guide Taras told
          interesting facts about the area and customs throughout the tour.
        </p>
        <button class="btn" type="button">
        <svg class="reviews-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-round"></use>
        </svg>
      </button>
      </li>
      <li class="reviews-item hide">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="./img/Ellipse-30.png"
          alt="Anita-img"
        />
        <h3 class="reviews-subject">Anita</h3>
        <p class="reviews-text">
          Who is going to the mountains for the first time - this is exactly the
          tour and the people who organize everything. Guide Makar is
          interesting stories, selection of a route for a comfortable ascent,
          motivation and support.
        </p>
        <button class="btn" type="button">
        <svg class="reviews-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-round"></use>
        </svg>
      </button>
      </li>
    </ul>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-slider"
          srcset="./img/photo-gallery.jpg 1x, ./img/photo-gallery@2x.jpg 2x"
          src="./img/photo-gallery.jpg"
          alt="landscape"
        />
      </li>
      <li class="gallery-item hide-img">
        <img
          class="gallery-slider"
          srcset="./img/photo-gallery-(1).jpg 1x, ./img/photo-gallery-(1)@2x.jpg 2x"
          src="./img/photo-gallery-(1).jpg"
          alt="landscape"
        />
      </li>
    </ul>
    <div class="gallery-slider-btn">
      <button class="btn" type="button">
      <svg class="gallery-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-gallery-left"></use>
      </svg>
    </button>
      <button class="btn" type="button">
      <svg class="gallery-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-gallery-right"></use>
      </svg>
    </button>
    </div>
  </div>
</section>

<section class="pre-footer">
  <div class="container">
    <p class="pre-footer-title">Do you have any questions?</p>
    <p class="pre-footer-text">
      You can leave your questions here and our manager will call you back
      within 10 minutes
    </p>
    <form class="pre-footer-form">
      <div class="container-inputs">
        <div class="footer-label-container">
          <label class="pre-footer-label" for="user-name"></label>
          <input
            class="pre-footer-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Your name*"
          />
        </div>
        <div class="footer-label-container">
          <label class="pre-footer-label" for="user-phone-footer"></label>
          <input
            class="pre-footer-input"
            type="tel"
            name="user-phone"
            id="user-phone-footer"
            placeholder="Phone number*"
          />
        </div>
        <div class="footer-label-container">
          <label class="pre-footer-label" for="user-feedback"></label>
          <input
            class="pre-footer-input"
            type="text"
            name="user-feedback"
            id="user-feedback"
            placeholder="What would you like to know?"
          />
        </div>
      </div>
      <button class="pre-footer-button" type="submit">CALL ME</button>
    </form>
  </div>
</section>

<footer class="footer-container">
  <div class="container">
    <h2 class="footer-title">Contacts</h2>
    <address>
      <ul class="footer-list">
        <li>
          <div class="footer-link-contacts">
            <svg class="footer-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-place"></use>
            </svg>
            <a class="contacts" href="" target="_blank"
              >Lviv, st Dorosheko, 44 k</a
            >
          </div>
        </li>
        <li>
          <div class="footer-link-contacts">
            <svg class="footer-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-phone"></use>
            </svg>
            <a class="contacts" href="tel:+380971626790"
              >+38 (097) 162 -67-90</a
            >
          </div>
        </li>
        <li>
          <div class="footer-link-contacts">
            <svg class="footer-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-email"></use>
            </svg>
            <a class="contacts" href="maito:mandrykarpaty&#64;gmail.com"
              >mandrykarpaty@gmail.com</a
            >
          </div>
        </li>
        <li>
          <ul class="footer-social-list">
            <li>
              <a href="" class="footer-social-link">
                <svg class="footer-social-icon" width="40" height="40">
                  <use href="./img/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="footer-social-link">
                <svg class="footer-social-icon" width="40" height="40">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="footer-social-link">
                <svg class="footer-social-icon" width="40" height="40">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </address>

    <div class="footer-down-container">
      <svg class="footer-down-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-copyright"></use>
      </svg>
      <p class="footer-text">Created by LelekaSoft</p>
    </div>
  </div>
</footer>
