<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="./img/Ellipse 28.png"
          alt="Maria-img"
        />
        <h3 class="reviews-subject">Maria</h3>
        <p class="reviews-text">
          It was really cool! We saw everything - sun, snow, rain, fog! It's
          very exciting and interesting, you won't regret it - it's worth going
          and seeing everything with your own eyes. Everything is organized at
          the highest level.
        </p>
        <svg class="reviews-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-round"></use>
        </svg>
      </li>
      <li class="reviews-item">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="./img/Ellipse 31.png"
          alt="Ostap-img"
        />
        <h3 class="reviews-subject">Ostap</h3>
        <p class="reviews-text">
          Good organization, everything went smoothly. Friendly guide Taras told
          interesting facts about the area and customs throughout the tour.
        </p>
        <svg class="reviews-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-round"></use>
        </svg>
      </li>
      <li class="reviews-item">
        <div class="reviews-background"></div>
        <img
          class="reviews-images"
          src="../img/Ellipse 30.png"
          alt="Anita-img"
        />
        <h3 class="reviews-subject">Anita</h3>
        <p class="reviews-text">
          Who is going to the mountains for the first time - this is exactly the
          tour and the people who organize everything. Guide Makar is
          interesting stories, selection of a route for a comfortable ascent,
          motivation and support.
        </p>
        <svg class="reviews-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-round"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
