<section class="tours" id="tours">
    <div class="container">
    <h2 class="tours-title">Upcoming tours</h2>
      <ul class="toul-list">
         <li class="tours-item tour-hoverla">          
             <div class="offer">
             <picture class="offer-img">
             <source media="(min-width: 1440px )" srcset="./img/overlay-hoverla-desk.jpg , ./img/overlay-hoverla-desk-2x.jpg 2x">
             <source media="(min-width: 768px )" srcset="./img/overlay-hoverla-tab.jpg 1x, ./img/overlay-hoverla-tab-2x.jpg 2x">
             <source media="(max-width:367px )" srcset="./img/overlay-hoverla-mob.jpg 1x, ./img/overlay-hoverla-mob-2x.jpg 2x">
             <img src="./img/overlay-hoverla-mob.jpg" alt="Highland" width="311" height="338">
             </picture>
              <div class="tours-text">
              <h3 class="tours-name">Ascent to Hoverla</h3>
              <p class="tours-price">From UAH 4,499/person</p>
              <button type="button" class="tours-btn">MORE DETAILS</button>
              </div>
              </div>
          </li>
          <li class="tours-item tour-bukovel"> 
            <div class="offer offer-bukovel">         
              <picture class="offer-img">
                <source media="(min-width: 1440px )" srcset="./img/overlay-bukovel-desk.jpg , ./img/overlay-bukovel-desk-2x.jpg 2x">
                <source media="(min-width: 768px )" srcset="./img/overlay-bukovel-tab.jpg 1x, ./img/overlay-bukovel-tab-2x.jpg 2x">
                <source media="(max-width:367px )" srcset="./img/overlay-bukovel-mob.jpg 1x, ./img/overlay-bukovel-mob-2x.jpg 2x">
                <img src="./img/overlay-bukovel-mob.jpg" alt="Highland" width="311" height="338">
                </picture>
             <div class="tours-text">
             <h3 class="tours-name">Ski tour to Bukovel</h3>
             <p class="tours-price">From UAH 7,499/person</p>
             <button type="button" class="tours-btn">MORE DETAILS</button>
             </div>
             </div>
         </li> 
         <li class="tours-item tour-carpathians"> 
          <div class="offer">         
            <picture class="offer-img">
              <source media="(min-width: 1440px )" srcset="./img/overlay-carpathians-desk.jpg , ./img/overlay-carpathians-desk-2x.jpg 2x">
              <source media="(min-width: 768px )" srcset="./img/overlay-carpathians-tab.jpg 1x, ./img/overlay-carpathians-tab-2x.jpg 2x">
              <source media="(max-width:367px )" srcset="./img/overlay-carpathians-mob.jpg 1x, ./img/overlay-carpathians-mob-2x.jpg 2x">
              <img src="./img/overlay-carpathians-mob.jpg" alt="Highland" width="311" height="338">
              </picture>
              <div class="tours-text">
           <h3 class="tours-name">Week in Carpathians</h3>
           <p class="tours-price">From UAH 9,999/person</p>
           <button type="button" class="tours-btn">MORE DETAILS</button>
           </div>
           </div>
       </li> 
      </ul>
        <div class="switching_directions">
          <svg class="icon-left" width="28" height="28">
          <use href="../img/icons.svg#icon-left"></use>
           </svg>
          <svg class="icon-right" width="28" height="28">
          <use href="./img/icons.svg#icon-right"></use>
          </svg>
        </div>
    </div>
</section>