<section class="tours" id="tours">
    <div class="container">
    <h2 class="tours-title">Upcoming tours</h2>
    <ul>
      <li>
    <div class="offer">
      <picture class="hoverla-img">
        <source media="(min-width: 1158px )" srcset="../img/overlay-hoverla-desk.jpg , ../img/overlay-hoverla-desk-2x.jpg 2x">
        <source media="(min-width: 768px )" srcset="../img/overlay-hoverla-tab.jpg 1x, ../imgs/overlay-hoverla-tab-2x.jpg 2x">
        <source media="(max-width:375px )" srcset="../img/overlay.jpg  1x, ../img/overay-2x.jpg 2x">
        <img src="../img/overlay.jpg" alt="Highland" width="311" height="338">
    </picture>
    <div class="tours-text" >
      <h3 class="tours-name">Ascent to Hoverla</h3>
      <p class="tours-price">From UAH 4,499/person</p>
      <button type="button" class="tours-btn">MORE DETAILS</button>
    </div>
      </div>
    </div>
    <div class="switching_directions">
    <svg class="icon-left" width="28" height="28">
      <use href="./images/icons.svg#icon-left"></use>
    </svg>
    <svg class="icon-right" width="28" height="28">
      <use href="./images/icons.svg#icon-right"></use>
    </svg>
  </div>
</li>
<!-- <li>
  <div class="another-tour_offers">
  </li> -->
  </ul>
  <div class="switching_directions">
    <svg class="icon-left" width="28" height="28">
      <use href="../img/icons.svg#icon-left"></use>
    </svg>
    <svg class="icon-right" width="28" height="28">
      <use href="./img/icons.svg#icon-right"></use>
    </svg>
  </div>
</section>