<section class="tours" id="tours">
    <div class="container">
    <h2 class="tours-title">Upcoming tours</h2>
    <div class="offer">
      <picture class="">
        <source media="(min-width: 1158px )" srcset="./images/overay.jpg  1x, ./images/overay-2x.jpg 2x">
        <source media="(min-width: 768px )" srcset="./images/overay.jpg  1x, ./images/overay-2x.jpg 2x">
        <source media="(max-width:7px )" srcset="./images/overay.jpg  1x, ./images/overay-2x.jpg 2x">
        <img src="./images/overlay.jpg" alt="Highland" width="311" height="338">
    </picture>
    <div class="tours-text" >
      <h3 class="tours-name">Ascent to Hoverla</h3>
      <p class="tours-price">From UAH 4,499/person</p>
      <button type="button" class="tours-btn">MORE DETAILS</button>
    </div>
      </div>
    </div>
    <div class="switching_directions">
    <svg class="icon-left" width="28" height="28">
      <use href="./images/icons.svg#icon-left"></use>
    </svg>
    <svg class="icon-right" width="28" height="28">
      <use href="./images/icons.svg#icon-right"></use>
    </svg>
  </div>
  <div class="another-tour_offers">