:root {
  --blue: #5b86a1;
  --Primary-text: #1b1d1b;
  --Secondary-text: #202321;
  --Light: #f7fbfb;
}

.container {
  max-width: 344px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #202321;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: #f7fbfb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  color: currentColor;
  font-family: inherit;
}

h2 {
  font-size: 32px;
  color: #202321;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 52px;
  }

  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1440px) {

  .container {
    max-width: 1440px;
    padding: 0 20px;
  }
}