.reviews {
  padding-top: 52px;
}

.reviews-background {
  width: 100%;
  height: 134px;
  background-image: url(../img/Review_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .reviews-background {
    background-image: url(../img/Review_mobile@2x.jpg);
  }
}

.reviews-title {
  color: var(--Primary-text, #1b1d1b);
  font-weight: 400;
  margin-bottom: 28px;
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-item {
  position: relative;
  padding-bottom: 48px;
  border: 1px solid var(--Blue, #5b86a1);
}

.reviews-images {
  position: absolute;
  top: 84px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}

.reviews-subject {
  color: var(--Blue, #5b86a1);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 16px;
}

.reviews-text {
  margin: 0 auto;
  width: 241px;
  font-weight: 400;
  line-height: normal;
}

.btn:hover .reviews-icon, .btn:focus .reviews-icon {
  fill: #5b86a1;
}

.reviews-item .btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.reviews-icon {
  fill: #A3A5A3;
  transition: fill ease-in-out 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1439px) {
  .hide {
    display: none;
  }
}

@media (min-width: 768px) {
.reviews {
  padding-top: 80px;
}

.reviews-title {
  margin-bottom: 40px;
}

.reviews-subject {
    font-size: 24px;
    margin-top: 74px;
    margin-bottom: 20px;
  }

.reviews-text {
    font-size: 20px;
    width: 314px;
  }

.reviews-list {
    flex-direction: row;
    gap: 20px;
  }

 .reviews-item {
    width: calc((100% - 20px) / 2);
    padding-bottom: 51px;
  }

  .reviews--item .btn {
    bottom: 20px;
    right: 20px;
  }
}

@media (min-width: 1440px) {
  .reviews-title {
    margin-bottom: 70px;
  }

  .reviews-item {
    width: calc((100% - 40px) / 3);
    padding-bottom: 103px;
  }

  .reviews-subject {
    margin-bottom: 24px;
    margin-top: 83px;
    font-size: 28px;
  }

  .reviews-text {
    width: 321px;
  }
}

.gallery {
  padding-top: 52px;
  padding-bottom: 104px;
  position: relative;
}

.gallery-title {
  color: var(--Primary-text, #1b1d1b);
  text-align: center;
  font-weight: 400;
  margin-bottom: 28px;
}

.gallery-slider {
  width: 100%;
}

.gallery-slider-btn {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  border: none;
  background-color: transparent;
}

.gallery-icon {
  fill: #A3A5A3;
  transition: fill ease-in-out 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover .gallery-icon, .btn:focus .gallery-icon {
  fill: #5b86a1;
}

@media (max-width: 767px) {
  .hide-img {
    display: none;
  }
}

@media (min-width: 768px) {

  .gallery {
    padding-top: 80px;
    padding-bottom: 144px;
  }

  .gallery-title {
    margin-bottom: 40px;
  }

  .gallery-list {
    display: flex;
    gap: 20px;
  }

  .gallery-item {
    width: calc((100% - 20px) / 2);
  }

  .gallery-slider {
    height: 275px;
  }

  .gallery-slider-btn {
    bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding-bottom: 160px;
  }

  .gallery-slider {
    height: 445px;
  }

}

.pre-footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 116px 16px;
  background-image: url(../img/image_3_mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
  .pre-footer {
    background-image: url(../img/image_3_mobile@2x.jpg);
  }
}

.pre-footer .container {
  padding: 28px 20px;
  background-color: #f7fbfb;
}

.pre-footer-title {
  color: var(--Primary-text, #1b1d1b);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 159px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pre-footer-text {
  color: var(--Secondary-text, #202321);
  text-align: center;
  font-size: 14px;
  width: 243px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.pre-footer-input::placeholder {
  color: #202321;
  font-size: 16px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

.pre-footer-input {
  width: 100%;
  height: 28px;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #a3a5a3;
}

.pre-footer-button {
  display: flex;
  width: 100%;
  height: 52px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
  color: var(--Light, #f7fbfb);
  font-size: 16px;
  font-weight: 500;
  background-color: #5b86a1;
  border: none;
  transition: background-color ease-in-out 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-footer-button:hover,
.pre-footer-button:focus {
  background-color: #1b1d1b;
}

@media (min-width: 768px) {
  .pre-footer {
    padding: 88px 20px;
  }

  .pre-footer .container {
    padding: 40px 42px;
    width: 478px;
    height: 512px;
  }

  .pre-footer-title {
    width: 247px;
    margin-bottom: 24px;
    font-size: 32px;
  }

  .pre-footer-text {
    width: 374px;
    font-size: 18px;
    margin-bottom: 32px;
  }

  .pre-footer-input::placeholder {
    font-size: 20px;
  }

  .pre-footer-input {
    height: 32px;
  }

  .pre-footer-button {
    margin-top: 32px;
    font-size: 20px;
    height: 56px;
  }

  .container-inputs {
  gap: 24px;
  padding: 0 20px;

  }
}

@media (min-width: 1440px) {
  .pre-footer {
    padding: 244px 20px;
  }

  .pre-footer .container {
    padding: 60px 47px;
    width: 774px;
    height: 583px;  
  }

  .pre-footer-title {
    width: 681px;
    margin-bottom: 32px;
    font-size: 48px;
  }

  .pre-footer-text {
    width: 502px;
    font-size: 20px;
    margin-bottom: 44px;
  }

  .pre-footer-input::placeholder {
    font-size: 24px;
  }

  .container-inputs {
    padding: 0;
    gap: 28px;
    width: 575px;
    margin: 0 auto;
  }

  .pre-footer-input {
    height: 32px;
  }

  .pre-footer-button {
    margin: 0 auto;
    margin-top: 44px;
    font-size: 24px;
    width: 575px;
    height: 69px;
  }
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #202321;
}

.footer-container .container {
  padding: 40px 28px;
}

.footer-title {
  color: var(--Light, #f7fbfb);
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 34px;
}

.contacts {
  color: var(--Light, #f7fbfb);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link-contacts {
  position: relative;
  left: 36px;
}

.footer-icon {
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-50%);
}

.footer-icon {
  fill: #f7fbfb;
}

.footer-social-list {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
}

.footer-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-down-icon {
  stroke: #a3a5a3;
}

.footer-text {
  color: var(--Grey, #a3a5a3);
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer-container {
    max-width: 100%;
    position: relative;
  }

  .footer-container .container {
    display: flex;
    gap: 137px;
    padding-top: 64px;
    padding-bottom: 125px;
    padding-left: 114px;
  }

  .footer-title {
    font-size: 32px;
    margin: 0;
  }

  .contacts {
    font-size: 18px;
  }

  .footer-down-container {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-social-list {
    margin: 0;
  }

  .footer-list {
    gap: 58px;
    padding-top: 12px;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    max-width: 100%;

  }

  .footer-container .container {
    justify-content: center;
    gap: 176px;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 134px;
  }

  .footer-title {
    font-size: 60px;
  }

  .contacts {
    font-size: 24px;
  }

  .footer-list {
    gap: 51px;
    padding-top: 28px;
  }
}